@page "/counter"
@using System.Data

@code {

    public Counter()
    {
        GetTodoList();
    }

    private int currentCount = 0;

    private DataTable TodoList = new DataTable();


    private void AddTodo()
    {
        TodoInterpreter todoItp = new TodoInterpreter();


        GetTodoList();
    }

    private void GetTodoList()
    {
        TodoInterpreter todoItp = new TodoInterpreter();
        DataTable dt = todoItp.GetTodoList("KIMSANGKI");
        if(dt.Rows.Count>0)
        {
            TodoList = dt;
            currentCount = dt.Rows.Count;
        }
    }

}

<div>


<h1>내일 할 일</h1>


<p role="status">할 일 : <span id="taskCount">@currentCount</span> 개</p>

<button class="btn btn-secondary" onclick="addTodo()">추가</button>
<button class="btn btn-warning" onclick="removeTodo()">삭제</button>
<button class="btn btn-primary" onclick="">저장</button>
<ul name="ulTodoList">
    @if (TodoList.Rows.Count > 0)
    {

        @foreach (DataRow item in TodoList.Rows)
        {
            <li>
                <input type="checkbox" name="chkTodo" >
                @item["TODO_CONTENT"].ToString()
            </li>
        }

    }
    else
    {
        
    }

</ul>

</div>



